body{
  background-color: white
}
#goodDate{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(36, 104, 194);
}


h1{
  color: rgb(51 129 195);
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
  
}

footer{
  text-align: center;
}
a.insta{
  margin-right: 102px;
}
.shitfRight{
  float: right;
  padding: 20px ;
}
.shitfmiddle{
  float: left;
  padding: 20px ;
}
#sizeInput{
  position: absolute;
  height: 40px;
  width: 300px;
  border: 2px solid rgb(6, 90, 45);
  padding: 8px 16px;
  text-align: center;
  margin: 5px;
}
.cent{
  text-align: center
}
.center{
  text-align: center;
  font-size: 25px;
  background-color: rgb(51 129 195);
  margin: 20px;
}
/* here is how to do buttons for pages change color when you hover over it */
.lback:link, .lback:visited {
  background-color: white;
  color: black;
  border: 2px solid #2a75b5;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.lback:hover, .lback:active {
  background-color: rgb(13, 81, 126);
  color: white;
}
/* --------------------------------------------------------------------- */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {
  vertical-align: middle;
  
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 60, 60);
}

th, td {
  padding: 15px;
}

table {
  border-spacing: 5px;
}
